section {
    border: 0px solid var(--cor-fundo);
    border-radius: 10px;
    margin: 20px;
    padding: 2px;
    background-color: var(--cor-fundo); 
}

h3 {
    padding: 4px;
}

p {
    padding: 10px;
   background-color: white;
}