table {
    width: 90%;
    border: 0.5px solid var(--cor-fundo);
    margin: 20px;
    background-color: var(--cor-fundo);
    border-radius: 10px; 
}

caption {
   font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

td {
  background-color: white;
}


