header {
    display: flex;
    flex-direction: row;
    color: var(--cor-texto);
    justify-content: space-between;
    margin: 30px;
}

img {
    height: 50px;
    width: 50px;
}

.usuario-info {
    display: flex;
    flex-direction: column;
  }

  .perfil {
    display: flex;
    align-items: center;
    gap: 5px;
  }